[submodule "external/boost/dll"]
	path = external/boost/dll
	url = https://github.com/apolukhin/Boost.DLL.git
[submodule "external/nonius"]
	path = external/nonius
	url = https://github.com/rmartinho/nonius.git
[submodule "external/boost/hana"]
	path = external/boost/hana
	url = https://github.com/boostorg/hana.git
